* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    background: #001d38;
  font-family: "Poppins", sans-serif;
  
  
}

/* Cabeçalho */
.cabecalho {
    width: 100%;/*tamanho do cabeçalho*/
    font-family: Arial, Helvetica, sans-serif;/*letra do cabeçalho*/
    display: flex;/*fipo do display   "Flexivel"*/
    justify-content: space-around;/*deixa os elementos divididos de forma central*/
    position: fixed;/*posição absolute*/
    top: 0%;/*serve para deixar o cabeçalho em cima*/
    padding: 5px;/*margem interna do cabeçalho de 15px*/
    font-size: 20px;/*tamanho da letra*/
    color: white;/*cor da letra*/
    background-color: black;/*cor de fundo*/
    text-align: center;/*texto alinhado no centro*/
}

.cabecalho__marca__logo {
    width: 104px;
height: 104px;
    /*bordar da imagem tamanho da espessura estado e cor*/
margin-left: 0%;
border-radius: 50%;
}

.cabecalho__marca__nome {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
    margin-top: 10px;
}

.cabecalho__menu {
    margin-top: 30px;
}

.cabecalho__menu__link {
    font-size: 1.2rem;
    color: #FFFFFF;
    text-decoration: none;
    border: 2px solid #F6F6F6;
    padding: 21px 20px;
    border-radius: 25px;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.cabecalho__menu__link:hover {
    color: white;
}

/* Principal */
.principal {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.principal__conteudo {
    display: block;
    padding-right: 40px;
    text-align: center;
}

.principal__conteudo__titulo {
    font-family: 'Russo One', sans-serif;
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    margin-left: 50%;
}
.principal__conteudotitulo__bruno {
    font-family: 'Russo One', sans-serif;
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    margin-left: 44.5%;
}

.nome__portifolio {
    color: #4c4cff;
}

.principal__conteudotexto__bruno {
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 52%;
}

.principal__conteudotexto__diego {
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 53%;
}

.principal__conteudotexto__tales {
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 54.5%;
}

.foto__principal{
    margin-right: 50%;
    border-radius: 10%;
    margin-top: -300%;
}

.rodape{
background-color: black;
color: white;
display: flex;
height: 10rem;
}

.links__redes {
    margin-top: 0px;
    margin-left: 37%;
}

.links__redes__titulo {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.links__redes__navegar {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    border: 2px solid white;
    padding: 21px 3px;
    border-radius: 13px;
    text-decoration: none;
    display:inline;
    margin-right: 10px;
    text-align: center;
    
}

.links__redes__imagem {
    width: 45px;
    margin-bottom: -14px;
    border-radius: 50%;

}
.apresentacao__links__navegacao:hover {
    color: white;
    border-radius: 15px;
    transition: color 0.3s ease;
}